@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Student</title>
</head>
<body>
    <div>
        <h3>Add Student form</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Group Name</p></td>
                    <td><input type="text" name="NameGroup" /></td>
                </tr>
                <tr>
                    <td><p>Name</p></td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td><p>Surname</p></td>
                    <td><input type="text" name="Surname" /></td>
                </tr>
                <tr><td><input type="submit" value="Submit" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
